<div class="o-vision">
    <div class="o-vision__image">
        {{> @image }}
    </div>
    <div class="o-vision__content">
        {{> @text--title1 }}
        {{> @separation }}
        <span class="o-vision__content--text"></span>{{> @text--body }}</span>
        <span class="o-vision__content--button">{{> @button--secondary }}</span>
    </div>
</div>