<div class="o-vision">
    <div class="o-vision__image">
        {{> @image }}
    </div>
    <div class="o-vision__content">
        {{> @text--title2 }}
        {{> @separation }}
        {{> @text--body }}
        {{> @button--secondary }}
    </div>
</div>