<div class="m-text-section">
    {{> @text--title2 }}
    <span class="m-text-section__separation">{{> @separation }}</span>
    <span class="m-text-section__violet">{{> @text--body }}</span>
</div>