<div class="m-corner--reversed">
    <div class="m-corner__image--reversed">
        {{> @image }}
    </div>
    <div class="m-corner__content--reversed">
        {{> @corner-title }}
        {{> @text--body }}
        <span class="m-corner__button--reversed">{{> @button--secondary }}</span>
    </div>
</div>