<div class="m-corner--reversed">
    <div class="m-corner__image">
        {{> @image }}
    </div>
    <div class="m-corner__content--reversed">
        {{> @corner-title }}
        {{> @text--body }}
        {{> @button--secondary }}
    </div>
</div>