<div class="m-corner">
    <div class="m-corner__content">
        {{> @corner-title }}
        {{> @text--body }}
        {{> @button--secondary }}
    </div>
    <div class="m-corner__image">
        {{> @image }}
    </div>
</div>