<div class="m-corner">
    <div class="m-corner__content">
        {{> @corner-title }}
        {{> @text--body }}
        <span class="m-corner__button">{{> @button--secondary }}</span>
    </div>
    <div class="m-corner__image">
        {{> @image }}
    </div>
</div>