<div class="nav">
  <ul class="m-navPart">
    <li class="list-item list-item-active">{{> @navitem }}</li>
    <li class="list-item">{{> @navitem }}</li>
    <li class="list-item">{{> @navitem }}</li>
    <li class="list-item">{{> @navitem }}</li>
    <li class="list-item">{{> @navitem }}</li>
    <li class="list-item">{{> @navitem }}</li>
    <li class="list-item">{{> @navitem }}</li>
  </ul>  
</div>


