<div class="o-presentation">
    <div class="o-presentation__content">
        {{> @text--title1 }}
        {{> @text--body }}
        <span class="o-presentation__button--margin">{{> @button--primary }}</span>
    </div>
    <div class="o-presentation__image">
        {{> @image }}
    </div>
</div>