<div class="o-presentation">
    <div class="o-presentation__content">
        {{> @text--title1 }}
        {{> @text--body }}
        {{> @button--primary }}
    </div>
    <div class="o-presentation__image">
        {{> @image }}
    </div>
</div>