@mixin font($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url("#{$file-path}.ttf") format("ttf");
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font(
  "SF UI Display",
  "../../src/assets/fonts/SFUIDisplay/SFUIDisplay-Regular",
  400,
  normal
);
@include font(
  "SF UI Display",
  "../../src/assets/fonts/SFUIDisplay/SFUIDisplay-Bold",
  900,
  normal
);
@include font(
  "Playfair Display",
  "../../src/assets/fonts/PlayfairDisplay/PlayfairDisplay-Regular",
  400,
  normal
);
@include font(
  "Playfair Display",
  "../../src/assets/fonts/PlayfairDisplay/PlayfairDisplay-Bold",
  900,
  normal
);

:root {
  --fontFamilyTitle: "Playfair Display";
  --fontFamilyBody: "SF UI Display", serif;

  --fontSizeH1: 64px;
  --fontSizeH2: 42px;
  --fontSizeH3: 32px;
  --fontSizeBody: 24px;
  --fontSizeInput: 18px;
  --fontSizeNav: 16px;
  --fontSizeFooter: 16px;
  --fontSizeButton: 16px;

  --fontSizeH1Mobile: 32px;
  --fontSizeH2Mobile: 24px;
  --fontSizeH3Mobile: 20px;
  --fontSizeBodyMobile: 18px;

  --fontWeightBold: bold;

  --lineHeightMain: 36px;
  --lineHeightH1: 90px;

  --lineHeightMainMobile: 22px;
  --lineHeightH1Mobile: 36px;
}
