<div class="o-corners">
    {{> @text-section}}
    <div class="o-corners__content">
        {{> @corner}}
        <span class="o-corners__content--margin">{{> @corner--reversed}}</span>
        <span class="o-corners__content--margin">{{> @corner}}</span>
        <span class="o-corners__content--margin">{{> @corner--reversed}}</span>
    </div>
</div>