<div class="o-corners">
    {{> @text-section}}
    <div class="o-corners__content">
        {{> @corner}}
        {{> @corner--reversed}}
        {{> @corner}}
        {{> @corner--reversed}}
    </div>
</div>