.o-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/images/header.png");
    width: 100%;
    background-size: cover;
}

.o-header__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 36px;
    margin-bottom: 100px;
}

.o-header__presentation {
    width: 70%;
}