.o-presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 120px;
  @include medium {
    margin-left: 0px;
    margin-bottom: 200px;
  }
}

.o-presentation__content {
  display: flex;
  flex-direction: column;
  width: 55%;
  text-align: left;
}

.o-presentation__button--margin {
  margin-top: 16px;
  @include medium {
    margin-top: 48px;
  }
}

.o-presentation__image {
  display: none;
  @include medium {
    display: block;
    width: 40%;
  }
}

.o-presentation__content--margin {
  margin-top: 24px;

  @include medium {
    margin-top: 48px;
  }
}

.o-presentation__content--color > p {
  color: var(--colorWhite);
}