.o-vision {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.o-vision__image {
  display: none;

  @include medium {
    display: block;
    width: 30%;
    margin-left: 100px;
  }
}

.o-vision__content {
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: left;
}

.o-vision__content--text {
  margin-top: 24px;
}

.o-vision__content--button {
  margin-top: 40px;
}
