<div class="l-homepage">
    {{> @header}}
    <span class="l-homepage--space">{{> @vision}}</span>
    <span class="l-homepage--space">{{> @steps}}</span>
    <span class="l-homepage--space">{{> @corners}}</span>
    <span class="l-homepage--space">{{> @newsletter}}</span>
    {{> @footer}}
</div>