.m-corner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m-corner__content {
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: left;
}

.m-corner__image {
    width: 40%;
}