.m-corner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.m-corner__content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.m-corner__button {
  margin-top: 16px;

  @include medium {
    margin-top: 32px;
  }
}

.m-corner__image {
  display: none;

  @include medium {
    display: block;
    width: 40%;
  }
}
