.m-corner--reversed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m-corner__content--reversed {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 55%;
    text-align: right;
    margin-top: 48px;
    margin-bottom: 48px;
}

.m-corner__image--reversed {
    display: none;

    @include medium {
        display: block;
        width: 40%;
    }
}