.m-corner--reversed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m-corner__content--reversed {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 55%;
    text-align: right;
}

.m-corner__image {
    width: 40%;
}