<div class="o-header">
    <div class="o-header__menu">
        {{> @logo}}
        {{> @navpart}}
        <span class="o-header__button">{{> @button--primary}}</span>
    </div>
    <span class="o-header__presentation">{{> @presentation}}</span>
</div>