<header class="o-header">
    <div class="o-header__menu">
        {{> @logo}}
        {{> @navpart}}
        {{> @button--login}}
    </div>
    <span class="o-header__presentation">{{> @presentation}}</span>
</header>   