.a-button--login {
  display: none;
  font-family: var(--fontFamilyBody);
  font-size: var(--fontSizeButton);
  background-color: var(--colorBlue);
  border: none;
  border-radius: 3px;
  padding: 18px 32px;
  font-weight: var(--fontWeightBold);
  text-decoration: none;
  color: var(--colorWhite);
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #11b0b3;
  }

  @include medium {
    display: inline-block;
    width: 90px;
  }
}

.a-button--primary {
  display: inline-block;
  font-family: var(--fontFamilyBody);
  font-size: var(--fontSizeButton);
  background-color: var(--colorBlue);
  border: none;
  border-radius: 3px;
  padding: 18px 32px;
  font-weight: var(--fontWeightBold);
  text-decoration: none;
  color: var(--colorWhite);
  text-align: center;
  width: 200px;
  cursor: pointer;

  &:hover {
    background-color: #11b0b3;
  }

  @include medium {
    width: 200px;
  }
}

// Bouton secondaire rose

.a-button--secondaryPink {
  display: inline-block;
  font-family: var(--fontFamilyBody);
  font-size: var(--fontSizeButton);
  background-color: var(--colorWhite);
  border: 2px solid var(--colorPink);
  border-radius: 3px;
  text-align: center;
  padding: 16px;
  font-weight: var(--fontWeightBold);
  text-decoration: none;
  color: var(--colorPink);
  width: 168px;
  cursor: pointer;

  &:hover {
    background-color: var(--colorPink);
    color: var(--colorWhite);
  }

  @include medium {
    width: 180px;
  }
}

// Bouton secondaire violet

.a-button--secondaryPurple {
  display: inline-block;
  font-family: var(--fontFamilyBody);
  font-size: var(--fontSizeButton);
  background-color: var(--colorWhite);
  border: 2px solid var(--colorPurple);
  border-radius: 3px;
  text-align: center;
  padding: 16px;
  font-weight: var(--fontWeightBold);
  text-decoration: none;
  color: var(--colorPurple);
  width: 168px;
  cursor: pointer;

  &:hover {
    background-color: var(--colorPurple);
    color: var(--colorWhite);
  }

  @include medium {
    width: 180px;
  }
}

// Bouton secondaire bleu

.a-button--secondaryBlue {
  font-family: var(--fontFamilyBody);
  font-size: var(--fontSizeButton);
  background-color: var(--colorWhite);
  border: 2px solid var(--colorBlue);
  border-radius: 3px;
  text-align: center;
  padding: 16px;
  font-weight: var(--fontWeightBold);
  text-decoration: none;
  color: var(--colorBlue);
  width: 142px;
  cursor: pointer;

  &:hover {
    background-color: var(--colorBlue);
    color: var(--colorWhite);
  }

  @include medium {
    width: 180px;
  }
}
