.a-link {
    text-decoration: none;
    color: var(--colorWhite);
    font-family: var(--fontFamilyBody);
    font-size: 14px;
    
    &:hover {
        color: var(--colorBlue);
    }

    @include medium {
        font-size: var(--fontSizeFooter);
    }
}