.a-navItem {
  text-decoration: none;
  color: #000000; // remettre en blanc
  font-size: var(--fontSizeNav);
  font-family: var(--fontFamilyBody);

  &:hover {
    color: var(--colorBlue);
  }
}
