.a-text--body {
  color: var(--colorText);
  font-size: var(--fontSizeBodyMobile);
  font-family: var(--fontFamilyBody);
  line-height: var(--lineHeightMainMobile);

  @include medium {
    color: var(--colorText);
    font-size: var(--fontSizeBody);
    font-family: var(--fontFamilyBody);
    line-height: var(--lineHeightMain);
  }
}

.a-text--footer {
  color: var(--colorWhite);
  font-size: var(--fontSizeFooter);
  font-family: var(--fontFamilyBody);

  @include medium {
    color: var(--colorWhite);
    font-size: var(--fontSizeFooter);
    font-family: var(--fontFamilyBody);
  }
}

.a-text--title1 {
  color: var(--colorWhite);
  font-size: var(--fontSizeH1Mobile);
  font-family: var(--fontFamilyTitle);
  font-weight: var(--fontWeightBold);

  @include medium {
    color: var(--colorWhite);
    font-size: var(--fontSizeH1);
    font-family: var(--fontFamilyTitle);
    font-weight: var(--fontWeightBold);
  }
}

.a-text--title2 {
  color: var(--colorBlue);
  font-size: var(--fontSizeH2Mobile);
  font-family: var(--fontFamilyTitle);

  @include medium {
    color: var(--colorBlue);
    font-size: var(--fontSizeH2);
    font-family: var(--fontFamilyTitle);
  }
}

.a-text--title3Pink {
  color: var(--colorPink);
  font-size: var(--fontSizeH3Mobile);
  font-family: var(--fontFamilyTitle);

  @include medium {
    color: var(--colorPink);
    font-size: var(--fontSizeH3);
    font-family: var(--fontFamilyTitle);
  }
}

.a-text--title3Purple {
  color: var(--colorPurple);
  font-size: var(--fontSizeH3Mobile);
  font-family: var(--fontFamilyTitle);

  @include medium {
    color: var(--colorPurple);
    font-size: var(--fontSizeH3);
    font-family: var(--fontFamilyTitle);
  }
}
