.a-text--body {
    color: var(--colorText);
    font-size: var(--fontSizeBody);
    font-family: var(--fontFamilyBody);
    line-height: var(--lineHeightMain);
}

.a-text--title1 {
    color: var(--colorText); // couleur noir parce que sinon blanc se voit pas
    font-size: var(--fontSizeH1XL);
    font-family: var(--fontFamilyTitle);
    line-height: var(--lineHeightH1);
    margin-bottom: 48px;
}

.a-text--title2 {
    color: var(--colorBlue);
    font-size: var(--fontSizeH2);
    font-family: var(--fontFamilyTitle);
}

.a-text--title3 {
    color: var(--colorPurple); // couleur change selon titre
    font-size: var(--fontSizeH3);
    font-family: var(--fontFamilyTitle);
}